# Django
DJANGO_ENV=development  # 开发环境：development, 生产环境：production
DJANGO_SECRET_KEY=your-secret-key-here

# 数据库
DB_NAME=todo_server
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=images
MINIO_SECURE=False 